{% extends "base.html" %}


{% block titulo %} Pagina busqueda reserva {% endblock%}

{% block body %}
<h1>buscar reserva a actualizar</h1>

<form action="actualizarreerva" method="GET">
    <table>
        <tr>
            <td>id Reserva</td>
            <td>
                <input type="text" name="txtid" placeholder="Ingrese id reserva" />
            </td>
        </tr>
      
        <tr>
            <td>
                <input type="submit" value="buscar" />
            </td>
            <td>
                <input type="reset" value="Cancelar" />
            </td>
        </tr>
    </table>

</form>
{% endblock %}